.container-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  & h2 {
    margin-bottom: 20px;
  }
  @include tablette-only {
    &__group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 768px;
    }
  }
  @include desktop-only {
    &__group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 1024px;
    }
  }
}
.restaurants-card {
  max-width: 350px;
  height: 250px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 20px 20px 20px 20px;
  box-shadow: $box-shadow;
  &__cadre {
    max-height: 180px;
    width: 350px;
  }
  &__nouveau {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    color: $tertiary-color-dark;
    background-color: $tertiary-color;
    padding: 8px;
    margin-left: 275px;
    margin-top: 25px;
  }
  &__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & h3 {
      margin: 10px;
      margin-left: 15px;
      font-weight: bold;
    }
    & p {
      margin: 10px;
      margin-left: 15px;
    }
  }

  &__cadre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  &__heart {
    font-size: 20px;
    margin: 15px;
    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
    &:focus {
      background-color: black;
    }
  }
}
