@mixin reset {
  html,
  body,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: black;
  }
}

@mixin titre {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 70%;
  margin-bottom: 15px;
}
@mixin button {
  color: white;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left top, $primary-color, $secondary-color);
  border-radius: $border-radius;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  font-size: 15px;
  transition: all 2s;
  &:hover {
    opacity: 0.5;
    box-shadow: 3px 9px 9px rgba(177, 171, 171, 1);
    transition: all 2s;
  }
}
@mixin img-menu {
  background-position: center;
  background-size: cover;
  height: 250px;
}
/* Effet d'apparition des cards dans les menus restaurant*/
@mixin animation {
  .menu_container:nth-child(1) {
    animation-name: card_hover;
    animation-duration: 5s;
    transition: 0.5s linear;
  }
  .menu_container:nth-child(2) {
    animation-delay: 1ms;
    animation-name: card_hover;
    animation-duration: 5s;
    transition: 0.5s linear;
  }
  .menu_container:nth-child(3) {
    animation-delay: 2ms;
    animation-name: card_hover;
    animation-duration: 5s;
    transition: 0.5s linear;
  }
}
@keyframes card_hover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*mixin pour la version tablette*/
@mixin tablette-only {
  @media (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
    @content;
  }
}
@mixin desktop-only {
  @media (min-width: map-get($breakpoints, tablette)) {
    @content;
  }
}
